footer {
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
    align-items: center;
  }
  
  .leftFooter {
    width: 20%;
    display: flex;
  
    flex-direction: column;
    align-items: center;
  }
  .leftFooter > h4 {
    font-family: "Roboto";
    font-size: 1vmax;
    margin-bottom: 15px;
  }
  .leftFooter > p {
    text-align: center;
    font-size: 1.2vmax;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .leftFooter > img {
    width: 10vmax;
    margin: 0.2vmax;
    cursor: pointer;
  }
  
  .midFooter {
    width: 60%;
  
    text-align: center;
  }
  
  .midFooter > h1 {
    font-size: 4vmax;
    font-family: "Roboto";
    background: -webkit-linear-gradient(#eee, rgb(235, 70, 52));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .midFooter > p {
    max-width: 60%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 1vmax auto;
  }
  
  .rightFooter {
    width: 20%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightFooter > h4 {
    font-family: "Roboto";
    font-size: 1.4vmax;
    text-decoration: underline;
  }
  .rightFooter > a {
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    transition: all 0.5s;
    margin: 0.5vmax;
  }
  
  .rightFooter > a:hover {
    color: rgba(255, 180, 150, 1)
  }

  @media (max-width: 520px) {
  Footer {
    flex-direction: column;
  }
  .leftFooter {
     width:100%;
     margin-bottom: 30px;
  }
  .leftFooter > h4 {
    font-family: "Roboto";
    font-size: 2.4vmax;
    margin-bottom: 15px;
  }

  .leftFooter > img {
    width: 17vmax;
  }
  .midFooter {
    width:100%;
    margin-bottom: 30px;
 }
 .midFooter > h1 {
  font-size: 5.5vmax;
}
.midFooter > p {
  max-width: 80%;
  margin: 0.8vmax auto;
  font-size: 2vmax;
}
 .rightFooter {
    width:100%;
    margin-bottom: 30px;
}
.rightFooter > h4 {
  font-size: 2vmax;
}
.rightFooter > a {
  font-size: 1.8vmax;
  margin: 0.5vmax;
}
}